body {
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    background-image: url("../static/src/Background Waves 2.svg");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
    font-weight: lighter;
    width: 48vw;
    text-align: left;
    background: -webkit-linear-gradient(45deg, #00EEE0, #04A6EC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: left;
    margin: 15% 5%;
    font-size: 3rem;
}

footer {
    margin: 75vh auto 5vh;
}