<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/styles-final.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>Orpheus</title>
</head>
<body>
    <a href="{{ app_url }}"><h1>Orpheus</h1></a>
    <div id="intro">
        This is the playlist we feel <br> is the best <strong>fit</strong> for the activities <br> you're aiming to do: <br>
        <a href="{{ playlist_data[2]['external_urls']['spotify'] }}"><button id="spotify-open">Open in Spotify</button></a>
    </div>
    <div id="spotify-embed">
        <iframe src="{{ playlist_data[1] }}" width="350" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <footer>
        Made with love at HackUCI 2021 <3
        <div><a href="https://github.com/Radicitus/HackUCI-2021"><i class="fab fa-github-square"></i></a></div>
        Cam, David, Ian, and Kevin :)
    </footer>
</body>
</html>