<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Quicksand font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Import CSS from static -->
    <link rel="stylesheet" href="../static/main.css">

    <title>Orpheus</title>
</head>
<body>
    <figure class="text-center">
    <h1 class="display-1" style="color:#04A6EC;">Orpheus</h1>
        <h1>Find songs <b>fit</b> for your routine.</h1>
        <br>

        <!-- Hype menu -->
        <h1>How pumped are you?</h1>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">Pumped as hell!</button>
            <button type="button" class="list-group-item list-group-item-action">Pretty pumped</button>
            <button type="button" class="list-group-item list-group-item-action">Bicycle pump</button>
            <button type="button" class="list-group-item list-group-item-action">Just chillin'</button>
        </div>
        <br>
        <button type="button" class="btn btn-info btn-lg">Let's go!</button>
    </figure>

<!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>